:root {
    --thumbnail-border: 10px;
    --animation-speed: 0.25s;
}

.code,
a {
    text-decoration: none;
    color: rgb(186, 186, 186);
    transition: color 0.5s ease, color 0.5s ease;
}

footer a:hover {
    color: #FFFFFF
}

body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;

    background-color: #454545;
    color: #dedede;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    letter-spacing: 0.05em;
    line-height: 1.25;


}

header,
footer {
    text-align: center;
    background-color: #272727;
    color: #c4c4c4;
    padding: 0.5em 0;
}


header {
    padding-bottom: 2em;
    margin-bottom: 1em;
}

footer {
    padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin-left: 0em;

}

h2,
h3 {
    font-size: 1.9em;
    color: #69c5ae;
    font-weight: normal;
}

h3 {
    font-size: 1.2em;
    color: #f1f1f1;
    font-weight: bold;
}

h4 {
    color: #888888;
    padding: 0.2em;
    margin: 0em;
    border-radius: 0.2em;
    text-align: center;
    font-weight: normal;
}


img.logo {
    max-width: 14rem
}


ul ul {
    padding-left: min(1em, 5%)
}

ul li {
    padding-bottom: 1em;
}

.content {
    display: block;
    max-width: 50em;
    flex-grow: 1;
    margin: 0 auto;
}

.code {
    cursor: pointer;
}

.code,
.content a {
    color: #6e93c4;
}

.code:hover,
.content a:hover {
    color: #ffffff
}

.lucide {
    vertical-align: middle;
}

.link-wrapper {
    padding:0em;
    margin: 0.5em;
    display: block;
    
    max-width: 400px;
    
    
    
}
.link-wrapper-content {
    padding: 0.5em;
    margin: 0em;
    color: #98adbe;
    border: 0.15em solid #161616;
    border-radius: 0.5em;
    background-color: #272727;
    transition: background-color var(--animation-speed), color var(--animation-speed), border-color var(--animation-speed);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}


.link-wrapper-content:hover {
    background-color: #3f3f3f;
    color: #ffffff;
    border-color: #a3a3a3
}

.thumbnail-set-wrapper {
    background-color: rgb(59, 59, 59);
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.5em;
}

.thumbnail-set-wrapper header {

    text-align: center;
    font-size: 1.25em;
    padding: 0.1em;
    margin: 0.1em;
    color: #8f8f8f;
    background: none;
}

.thumbnail-set {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.thumbnail-item {
    margin: 0.625em;
    cursor: pointer;
    position: relative;
    border-radius: var(--thumbnail-border);
    transition: border-color var(--animation-speed);
    overflow: hidden;
    border: 0.15em solid #222222;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);

}

img {
    max-width: 100%
}

.thumbnail-item img {
    width: 18em;
    height: auto;
    display: block
}

.thumbnail-item:hover {
    border-color: #FFFFFF;
    transition: border-color var(--animation-speed)
}

.thumbnail-overlay {
    color: #cacaca;
    font-size: 1em;
    opacity: 1;
    transition: opacity var(--animation-speed), border var(--animation-speed);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    pointer-events: none;
    background-color: #4b4b4bde;
    padding: 0.2em 0em 0.2em 0em;
    text-align: center;
}

.lightbox-content {
    position: relative;
    display: block;
    margin: auto;
    padding: 1.25em;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    box-sizing: border-box;
}

.lightbox {
    display: block;

    pointer-events: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    overflow: auto;
    transition: opacity var(--animation-speed);
}

.lightbox-content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;

}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity var(--animation-speed);
}



@media (min-resolution: 2dppx) {
    .thumbnail img {
        width: 12.5em;
    }
}

@media (max-width: 600px) {
    .thumbnail img {
        width: 5em;
    }
}


.open-raw {
    position: absolute;
    top: 0.8em;
    left: 3em;
    color: #fff;
    font-size: 1em;
    padding: 0.25em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color var(--animation-speed) ease, background-color var(--animation-speed) ease;
}

.open-raw:hover {
    background-color: #ffffff20;
}

.lightbox .close {
    position: absolute;
    top: 0em;
    right: 0.5em;
    color: #fff;
    font-size: 2.1875em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--animation-speed) ease, var(--animation-speed) ease;
}

.copyIcon {
    opacity: 0.25;
    transition: opacity var(--animation-speed);
    color: #9db3cf;
}

.copyIcon.mark {
    opacity: 1;
    transition: opacity var(--animation-speed);
}